<form autocomplete="off" class="search-form" (ngSubmit)="onSearch()">
  <div class="input-wrapper">
    <i class="fas fa-search"></i>
    <input type="text" [(ngModel)]="activity" name="activity" placeholder="Pretraži aktivnost" />
  </div>

  <div class="input-wrapper">
    <i class="fas fa-map-marker-alt"></i>
    <input type="text" [(ngModel)]="location" name="location" placeholder="Ukucaj lokaciju" />
  </div>

  <button type="submit" class="btn-search">
    <i class="fas fa-search"></i>
    Pronađi
  </button>
</form>
